.env
node_modules/*
public/*
*.DS_Store
*.log
dist/*
build/*
*.zip

# Ignore IDE specific files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
.clinerules/*
.kiro/*
.amazonq/*

# public/uploads
uploads/*
public/*/uploads/*
service/firebase.json