--
-- PostgreSQL database dump
--

\restrict yqJpa6ugHiOHOYlS5R7PSPMtg1ReWnF92pwmvm9ddn42JH9Ar0EVxDigG5b0Nqe

-- Dumped from database version 16.13
-- Dumped by pg_dump version 16.13

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: sync_portfolio_value(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.sync_portfolio_value() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

BEGIN

    IF (TG_OP = 'INSERT' OR TG_OP = 'UPDATE') THEN

        UPDATE "users" 

        SET current_portfolio = NEW.portfolio_value,

            updated_at = CURRENT_TIMESTAMP

        WHERE id = NEW.user_id;

    ELSIF (TG_OP = 'DELETE') THEN

        UPDATE "users" u

        SET current_portfolio = COALESCE(

            (SELECT portfolio_value 

             FROM investor_portfolio_performance 

             WHERE user_id = OLD.user_id 

             ORDER BY year DESC, month DESC 

             LIMIT 1),

            u.initial_capital

        ),

        updated_at = CURRENT_TIMESTAMP

        WHERE id = OLD.user_id;

    END IF;

    RETURN NULL;

END;

$$;


ALTER FUNCTION public.sync_portfolio_value() OWNER TO postgres;

--
-- Name: update_timestamp(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.update_timestamp() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

BEGIN

    NEW.updated_at = CURRENT_TIMESTAMP;

    RETURN NEW;

END;

$$;


ALTER FUNCTION public.update_timestamp() OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: admin_dashboard_stats; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.admin_dashboard_stats (
    id bigint NOT NULL,
    stat_name character varying(100) NOT NULL,
    stat_value numeric(15,6) DEFAULT 0.000000 NOT NULL,
    display_order integer DEFAULT 0 NOT NULL,
    status smallint DEFAULT 1 NOT NULL,
    created_by bigint NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.admin_dashboard_stats OWNER TO postgres;

--
-- Name: admin_dashboard_stats_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.admin_dashboard_stats_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.admin_dashboard_stats_id_seq OWNER TO postgres;

--
-- Name: admin_dashboard_stats_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.admin_dashboard_stats_id_seq OWNED BY public.admin_dashboard_stats.id;


--
-- Name: capital_tranches; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.capital_tranches (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    tranche_number integer NOT NULL,
    capital_amount numeric(15,6) NOT NULL,
    investment_date date NOT NULL,
    status smallint DEFAULT 1 NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.capital_tranches OWNER TO postgres;

--
-- Name: capital_tranches_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.capital_tranches_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.capital_tranches_id_seq OWNER TO postgres;

--
-- Name: capital_tranches_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.capital_tranches_id_seq OWNED BY public.capital_tranches.id;


--
-- Name: fcm_tokens; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.fcm_tokens (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    fcm_token character varying(255) NOT NULL,
    device_type character varying(50) DEFAULT NULL::character varying,
    status smallint DEFAULT 1 NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.fcm_tokens OWNER TO postgres;

--
-- Name: fcm_tokens_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.fcm_tokens_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.fcm_tokens_id_seq OWNER TO postgres;

--
-- Name: fcm_tokens_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.fcm_tokens_id_seq OWNED BY public.fcm_tokens.id;


--
-- Name: fund_performance; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.fund_performance (
    id bigint NOT NULL,
    month smallint NOT NULL,
    year integer NOT NULL,
    performance_percentage numeric(5,2) NOT NULL,
    total_fund_value_before numeric(15,6) NOT NULL,
    total_fund_value_after numeric(15,6) NOT NULL,
    monthly_payables_total numeric(15,6) DEFAULT 0.000000 NOT NULL,
    adjusted_fund_value numeric(15,6) NOT NULL,
    adjusted_performance_percentage numeric(5,2) NOT NULL,
    notes text,
    added_by bigint NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.fund_performance OWNER TO postgres;

--
-- Name: fund_performance_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.fund_performance_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.fund_performance_id_seq OWNER TO postgres;

--
-- Name: fund_performance_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.fund_performance_id_seq OWNED BY public.fund_performance.id;


--
-- Name: investor_bank_details; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.investor_bank_details (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    account_holder_name character varying(255) NOT NULL,
    bank_name character varying(255) NOT NULL,
    iban character varying(34) DEFAULT NULL::character varying,
    account_number character varying(50) NOT NULL,
    swift_code character varying(50) DEFAULT NULL::character varying,
    bsb_number character varying(50) DEFAULT NULL::character varying,
    beneficiary_address text,
    status smallint DEFAULT 0 NOT NULL,
    reject_reason text,
    reviewed_by bigint,
    reviewed_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.investor_bank_details OWNER TO postgres;

--
-- Name: investor_bank_details_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.investor_bank_details_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.investor_bank_details_id_seq OWNER TO postgres;

--
-- Name: investor_bank_details_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.investor_bank_details_id_seq OWNED BY public.investor_bank_details.id;


--
-- Name: investor_portfolio_performance; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.investor_portfolio_performance (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    month smallint NOT NULL,
    year integer NOT NULL,
    portfolio_value_before numeric(15,6) NOT NULL,
    portfolio_value_after numeric(15,6) NOT NULL,
    portfolio_value numeric(15,6) NOT NULL,
    profit_amount numeric(15,6) NOT NULL,
    profit_percentage numeric(8,2) NOT NULL,
    notes text,
    added_by bigint NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.investor_portfolio_performance OWNER TO postgres;

--
-- Name: investor_portfolio_performance_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.investor_portfolio_performance_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.investor_portfolio_performance_id_seq OWNER TO postgres;

--
-- Name: investor_portfolio_performance_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.investor_portfolio_performance_id_seq OWNED BY public.investor_portfolio_performance.id;


--
-- Name: notifications; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.notifications (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    title character varying(255) NOT NULL,
    message text NOT NULL,
    type character varying(50) NOT NULL,
    type_id bigint,
    payload jsonb,
    status smallint DEFAULT 0 NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.notifications OWNER TO postgres;

--
-- Name: notifications_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.notifications_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.notifications_id_seq OWNER TO postgres;

--
-- Name: notifications_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.notifications_id_seq OWNED BY public.notifications.id;


--
-- Name: payment_schedules; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.payment_schedules (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    due_date date NOT NULL,
    payment_amount numeric(15,6) NOT NULL,
    payment_type smallint NOT NULL,
    principal_amount numeric(15,6) NOT NULL,
    status smallint DEFAULT 0 NOT NULL,
    paid_date date,
    notes text,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.payment_schedules OWNER TO postgres;

--
-- Name: payment_schedules_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.payment_schedules_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.payment_schedules_id_seq OWNER TO postgres;

--
-- Name: payment_schedules_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.payment_schedules_id_seq OWNED BY public.payment_schedules.id;


--
-- Name: user_auth; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_auth (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    apikey character varying(255) NOT NULL,
    token character varying(255) NOT NULL,
    ev_token character varying(255) DEFAULT NULL::character varying,
    fp_token character varying(255) DEFAULT NULL::character varying,
    status smallint DEFAULT 1 NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.user_auth OWNER TO postgres;

--
-- Name: user_auth_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.user_auth_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.user_auth_id_seq OWNER TO postgres;

--
-- Name: user_auth_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.user_auth_id_seq OWNED BY public.user_auth.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id bigint NOT NULL,
    role smallint DEFAULT 1 NOT NULL,
    profile_img character varying(255) DEFAULT NULL::character varying,
    f_name character varying(255) NOT NULL,
    l_name character varying(255) NOT NULL,
    initial_capital numeric(15,6) DEFAULT 0.000000 NOT NULL,
    current_portfolio numeric(15,6) DEFAULT 0.000000 NOT NULL,
    currency character varying(10) DEFAULT 'AUD'::character varying NOT NULL,
    contract_start_date date,
    contract_type smallint DEFAULT 0,
    fixed_interest_rate numeric(5,2) DEFAULT NULL::numeric,
    contract_end_date date,
    investment_day smallint,
    is_bank_details smallint DEFAULT 0 NOT NULL,
    email character varying(128) NOT NULL,
    temp_password character varying(255) DEFAULT NULL::character varying,
    password character varying(255) DEFAULT NULL::character varying,
    email_verified smallint DEFAULT 0 NOT NULL,
    temp_signup smallint DEFAULT 0,
    status smallint DEFAULT 0 NOT NULL,
    last_login_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.users_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: admin_dashboard_stats id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.admin_dashboard_stats ALTER COLUMN id SET DEFAULT nextval('public.admin_dashboard_stats_id_seq'::regclass);


--
-- Name: capital_tranches id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.capital_tranches ALTER COLUMN id SET DEFAULT nextval('public.capital_tranches_id_seq'::regclass);


--
-- Name: fcm_tokens id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.fcm_tokens ALTER COLUMN id SET DEFAULT nextval('public.fcm_tokens_id_seq'::regclass);


--
-- Name: fund_performance id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.fund_performance ALTER COLUMN id SET DEFAULT nextval('public.fund_performance_id_seq'::regclass);


--
-- Name: investor_bank_details id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.investor_bank_details ALTER COLUMN id SET DEFAULT nextval('public.investor_bank_details_id_seq'::regclass);


--
-- Name: investor_portfolio_performance id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.investor_portfolio_performance ALTER COLUMN id SET DEFAULT nextval('public.investor_portfolio_performance_id_seq'::regclass);


--
-- Name: notifications id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications ALTER COLUMN id SET DEFAULT nextval('public.notifications_id_seq'::regclass);


--
-- Name: payment_schedules id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.payment_schedules ALTER COLUMN id SET DEFAULT nextval('public.payment_schedules_id_seq'::regclass);


--
-- Name: user_auth id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_auth ALTER COLUMN id SET DEFAULT nextval('public.user_auth_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: admin_dashboard_stats; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.admin_dashboard_stats (id, stat_name, stat_value, display_order, status, created_by, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: capital_tranches; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.capital_tranches (id, user_id, tranche_number, capital_amount, investment_date, status, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: fcm_tokens; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.fcm_tokens (id, user_id, fcm_token, device_type, status, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: fund_performance; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: investor_bank_details; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.investor_bank_details (id, user_id, account_holder_name, bank_name, iban, account_number, swift_code, bsb_number, beneficiary_address, status, reject_reason, reviewed_by, reviewed_at, created_at, updated_at) FROM stdin;
1	2	Harshit Dhaduk	Commonwealth Bank	AU1234567890123456 	987654321	\N	\N	\N	1	\N	1	2026-03-16 16:37:29.39003+05:30	2026-03-16 16:13:17.284255+05:30	2026-03-16 16:37:29.39003+05:30
\.


--
-- Data for Name: investor_portfolio_performance; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: notifications; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.notifications (id, user_id, title, message, type, type_id, payload, status, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: payment_schedules; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.payment_schedules (id, user_id, due_date, payment_amount, payment_type, principal_amount, status, paid_date, notes, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: user_auth; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.user_auth (id, user_id, apikey, token, ev_token, fp_token, status, created_at, updated_at) FROM stdin;
2	2	9b1de42e25dc31124acc0595e21b60f8ba6f27af8d2878fd5933a6f7755846c4	fdea6432c9e8fbab3ba34de4f602323e	\N	\N	1	2026-03-12 11:45:09.864521+05:30	2026-03-16 16:38:48.202284+05:30
1	1	6e586cfcba174f890aab5d41a55db0f7fc9329cfd3d12c9349ee8b14a66094e6	167b99147f41426d4a80d98dd799db87	\N	\N	1	2026-03-12 11:39:34.524786+05:30	2026-03-25 12:26:38.881105+05:30
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: admin_dashboard_stats_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.admin_dashboard_stats_id_seq', 1, false);


--
-- Name: capital_tranches_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.capital_tranches_id_seq', 1, false);


--
-- Name: fcm_tokens_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.fcm_tokens_id_seq', 1, false);


--
-- Name: fund_performance_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.fund_performance_id_seq', 4, true);


--
-- Name: investor_bank_details_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.investor_bank_details_id_seq', 1, true);


--
-- Name: investor_portfolio_performance_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.investor_portfolio_performance_id_seq', 6, true);


--
-- Name: notifications_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.notifications_id_seq', 1, false);


--
-- Name: payment_schedules_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.payment_schedules_id_seq', 1, false);


--
-- Name: user_auth_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.user_auth_id_seq', 32, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_id_seq', 7, true);


--
-- Name: admin_dashboard_stats admin_dashboard_stats_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.admin_dashboard_stats
    ADD CONSTRAINT admin_dashboard_stats_pkey PRIMARY KEY (id);


--
-- Name: capital_tranches capital_tranches_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.capital_tranches
    ADD CONSTRAINT capital_tranches_pkey PRIMARY KEY (id);


--
-- Name: fcm_tokens fcm_tokens_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.fcm_tokens
    ADD CONSTRAINT fcm_tokens_pkey PRIMARY KEY (id);


--
-- Name: fund_performance fund_performance_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.fund_performance
    ADD CONSTRAINT fund_performance_pkey PRIMARY KEY (id);


--
-- Name: investor_bank_details investor_bank_details_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.investor_bank_details
    ADD CONSTRAINT investor_bank_details_pkey PRIMARY KEY (id);


--
-- Name: investor_portfolio_performance investor_portfolio_performance_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.investor_portfolio_performance
    ADD CONSTRAINT investor_portfolio_performance_pkey PRIMARY KEY (id);


--
-- Name: notifications notifications_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_pkey PRIMARY KEY (id);


--
-- Name: payment_schedules payment_schedules_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.payment_schedules
    ADD CONSTRAINT payment_schedules_pkey PRIMARY KEY (id);


--
-- Name: fund_performance unique_fund_month_year; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.fund_performance
    ADD CONSTRAINT unique_fund_month_year UNIQUE (month, year);


--
-- Name: admin_dashboard_stats unique_stat_name; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.admin_dashboard_stats
    ADD CONSTRAINT unique_stat_name UNIQUE (stat_name);


--
-- Name: user_auth unique_user_auth_user_id; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_auth
    ADD CONSTRAINT unique_user_auth_user_id UNIQUE (user_id);


--
-- Name: investor_portfolio_performance unique_user_month_year; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.investor_portfolio_performance
    ADD CONSTRAINT unique_user_month_year UNIQUE (user_id, month, year);


--
-- Name: fcm_tokens unique_user_token; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.fcm_tokens
    ADD CONSTRAINT unique_user_token UNIQUE (user_id, fcm_token);


--
-- Name: capital_tranches unique_user_tranche; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.capital_tranches
    ADD CONSTRAINT unique_user_tranche UNIQUE (user_id, tranche_number);


--
-- Name: user_auth user_auth_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_auth
    ADD CONSTRAINT user_auth_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: idx_bank_details_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_bank_details_status ON public.investor_bank_details USING btree (status);


--
-- Name: idx_bank_details_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_bank_details_user_id ON public.investor_bank_details USING btree (user_id);


--
-- Name: idx_dashboard_stats_creator; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_dashboard_stats_creator ON public.admin_dashboard_stats USING btree (created_by);


--
-- Name: idx_dashboard_stats_order; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_dashboard_stats_order ON public.admin_dashboard_stats USING btree (display_order);


--
-- Name: idx_dashboard_stats_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_dashboard_stats_status ON public.admin_dashboard_stats USING btree (status);


--
-- Name: idx_fcm_tokens_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_fcm_tokens_user_id ON public.fcm_tokens USING btree (user_id);


--
-- Name: idx_fund_performance_added_by; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_fund_performance_added_by ON public.fund_performance USING btree (added_by);


--
-- Name: idx_fund_performance_year_month; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_fund_performance_year_month ON public.fund_performance USING btree (year, month);


--
-- Name: idx_notifications_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_notifications_status ON public.notifications USING btree (status);


--
-- Name: idx_notifications_type; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_notifications_type ON public.notifications USING btree (type);


--
-- Name: idx_notifications_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_notifications_user_id ON public.notifications USING btree (user_id);


--
-- Name: idx_payments_combined; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_payments_combined ON public.payment_schedules USING btree (user_id, due_date);


--
-- Name: idx_payments_due_date; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_payments_due_date ON public.payment_schedules USING btree (due_date);


--
-- Name: idx_payments_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_payments_status ON public.payment_schedules USING btree (status);


--
-- Name: idx_payments_type; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_payments_type ON public.payment_schedules USING btree (payment_type);


--
-- Name: idx_payments_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_payments_user_id ON public.payment_schedules USING btree (user_id);


--
-- Name: idx_performance_added_by; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_performance_added_by ON public.investor_portfolio_performance USING btree (added_by);


--
-- Name: idx_performance_combined; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_performance_combined ON public.investor_portfolio_performance USING btree (user_id, year, month);


--
-- Name: idx_performance_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_performance_user_id ON public.investor_portfolio_performance USING btree (user_id);


--
-- Name: idx_performance_year_month; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_performance_year_month ON public.investor_portfolio_performance USING btree (year, month);


--
-- Name: idx_tranches_date; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_tranches_date ON public.capital_tranches USING btree (investment_date);


--
-- Name: idx_tranches_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_tranches_status ON public.capital_tranches USING btree (status);


--
-- Name: idx_tranches_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_tranches_user_id ON public.capital_tranches USING btree (user_id);


--
-- Name: idx_user_auth_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_user_auth_user_id ON public.user_auth USING btree (user_id);


--
-- Name: idx_users_contract_end_date; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_users_contract_end_date ON public.users USING btree (contract_end_date);


--
-- Name: idx_users_contract_type; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_users_contract_type ON public.users USING btree (contract_type);


--
-- Name: idx_users_email; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_users_email ON public.users USING btree (email);


--
-- Name: idx_users_investment_day; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_users_investment_day ON public.users USING btree (investment_day);


--
-- Name: idx_users_role; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_users_role ON public.users USING btree (role);


--
-- Name: investor_portfolio_performance trigger_sync_portfolio_on_change; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trigger_sync_portfolio_on_change AFTER INSERT OR DELETE OR UPDATE ON public.investor_portfolio_performance FOR EACH ROW EXECUTE FUNCTION public.sync_portfolio_value();


--
-- Name: admin_dashboard_stats trigger_update_timestamp_admin_dashboard_stats; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trigger_update_timestamp_admin_dashboard_stats BEFORE UPDATE ON public.admin_dashboard_stats FOR EACH ROW EXECUTE FUNCTION public.update_timestamp();


--
-- Name: capital_tranches trigger_update_timestamp_capital_tranches; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trigger_update_timestamp_capital_tranches BEFORE UPDATE ON public.capital_tranches FOR EACH ROW EXECUTE FUNCTION public.update_timestamp();


--
-- Name: fcm_tokens trigger_update_timestamp_fcm_tokens; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trigger_update_timestamp_fcm_tokens BEFORE UPDATE ON public.fcm_tokens FOR EACH ROW EXECUTE FUNCTION public.update_timestamp();


--
-- Name: fund_performance trigger_update_timestamp_fund_performance; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trigger_update_timestamp_fund_performance BEFORE UPDATE ON public.fund_performance FOR EACH ROW EXECUTE FUNCTION public.update_timestamp();


--
-- Name: investor_bank_details trigger_update_timestamp_investor_bank_details; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trigger_update_timestamp_investor_bank_details BEFORE UPDATE ON public.investor_bank_details FOR EACH ROW EXECUTE FUNCTION public.update_timestamp();


--
-- Name: investor_portfolio_performance trigger_update_timestamp_investor_portfolio_performance; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trigger_update_timestamp_investor_portfolio_performance BEFORE UPDATE ON public.investor_portfolio_performance FOR EACH ROW EXECUTE FUNCTION public.update_timestamp();


--
-- Name: notifications trigger_update_timestamp_notifications; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trigger_update_timestamp_notifications BEFORE UPDATE ON public.notifications FOR EACH ROW EXECUTE FUNCTION public.update_timestamp();


--
-- Name: payment_schedules trigger_update_timestamp_payment_schedules; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trigger_update_timestamp_payment_schedules BEFORE UPDATE ON public.payment_schedules FOR EACH ROW EXECUTE FUNCTION public.update_timestamp();


--
-- Name: user_auth trigger_update_timestamp_user_auth; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trigger_update_timestamp_user_auth BEFORE UPDATE ON public.user_auth FOR EACH ROW EXECUTE FUNCTION public.update_timestamp();


--
-- Name: users trigger_update_timestamp_users; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trigger_update_timestamp_users BEFORE UPDATE ON public.users FOR EACH ROW EXECUTE FUNCTION public.update_timestamp();


--
-- Name: capital_tranches capital_tranches_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.capital_tranches
    ADD CONSTRAINT capital_tranches_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: fcm_tokens fcm_tokens_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.fcm_tokens
    ADD CONSTRAINT fcm_tokens_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: investor_bank_details investor_bank_details_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.investor_bank_details
    ADD CONSTRAINT investor_bank_details_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: investor_portfolio_performance investor_portfolio_performance_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.investor_portfolio_performance
    ADD CONSTRAINT investor_portfolio_performance_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: notifications notifications_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: payment_schedules payment_schedules_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.payment_schedules
    ADD CONSTRAINT payment_schedules_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: user_auth user_auth_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_auth
    ADD CONSTRAINT user_auth_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- PostgreSQL database dump complete
--

\unrestrict yqJpa6ugHiOHOYlS5R7PSPMtg1ReWnF92pwmvm9ddn42JH9Ar0EVxDigG5b0Nqe

